<nav class="navbar">
    <div class="navbar-brand" routerLink="/home">Expense Tracker</div>
    <ul class="navbar-links">
        <li><a routerLink="/home" routerLinkActive="active-link">Home</a></li>
        <li><a routerLink="/about" class="nav-link" routerLinkActive="active-link">About</a></li>
        <li><a routerLink="/contact" routerLinkActive="active-link">Contact</a></li>
        <li><a routerLink="/expense" routerLinkActive="active-link">Expense</a></li>
        <li><a routerLink="/revenue" routerLinkActive="active-link">Revenue</a></li> <!-- Added Revenue link -->
        <li><a routerLink="/data-display" routerLinkActive="active-link">View Data</a></li> <!-- Added View Data link -->
        <li><a routerLink="/signup" class="nav-link" routerLinkActive="active-link">Signup</a></li> <!-- Added Signup link -->
        <li><a routerLink="/login" class="nav-link" routerLinkActive="active-link">Login</a></li> <!-- Added Login link -->
    </ul>
    <div class="navbar-buttons">
        <button routerLink="/home" class="nav-button">Home</button>
        <button routerLink="/about" class="nav-button">About</button>
        <button routerLink="/expense" class="nav-button">Expense</button>
        <button routerLink="/revenue" class="nav-button">Revenue</button>
        <button routerLink="/contact" class="nav-button">Contact</button>
    </div>
</nav>
